<!DOCTYPE html>
{% load static %}
<html style="font-size: 16px;" lang="fr"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="​How is solar panel work?, ​Energy Freedom with Solar and Storage, ​We Have a Solar Plan for Almost Any Budget, Get In Touch, INTUITIVE">
    <meta name="description" content="">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv=“X-UA-Compatible” content=“IE=edge”>
    <!-- favicons -->
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicons/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'images/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <!-- favicons -->
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom-responsive-style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>Énergie so​la​ire</title>
    <link rel="stylesheet" href="{% static 'css/nicepage.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'css/solar.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'js/jquery.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'js/nicepage.js' %}" defer=""></script>
    <script type="text/javascript" src="{% static 'js/sidebar.js' %}"></script>
    <!-- ... other head content ... -->
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    
    
    
    
    
    
    
    
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="fr">
    <div class="wrapper">

      <button class="menu-icon" onclick="toggleSidebar()" style="font-size: 30px;">
        <i class="fas fa-bars" ></i>
      </button>
    
    
    
      <aside id="sidebar">
        <div class="h-100">
            <div class="sidebar-logo">
                <a href="home">EnergiTrack Maroc &nbsp&nbsp</nb></a>
            </div>
            <!-- Sidebar Navigation -->
            <ul class="sidebar-nav">
              <li class="sidebar-header">
                     
            </li>
                <li class="sidebar-item">
                    <a href="/" class="sidebar-link">
                      <i class="fas fa-home"></i>
                        Home
                    </a>
                </li>
                <li class="sidebar-item">
                  <a href="/actualites/" class="sidebar-link">
                    <i class="fas fa-newspaper"></i>
                      Actualités
                  </a>
              </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard"
                        aria-expanded="false" aria-controls="dashboard">
                        <i class='fas fa-tachometer-alt'></i>
                        Dashboard
                    </a>
                    <ul id="dashboard" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="/dashboard/" class="sidebar-link">Dashboard Production</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/consommation/" class="sidebar-link">Dashboard Consommation</a>
                        </li>
                        <li class="sidebar-item">
                          <a href="/world/" class="sidebar-link">Dashboard Énergie Mondiale</a>
                      </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                  <a href="/docutheque/" class="sidebar-link">
                    <i class="fas fa-download"></i>
                      Docuthèque
                  </a>
              </li>
              
              <li class="sidebar-item">
                <a href="/about/" class="sidebar-link">
                  <i class='fas fa-info-circle'></i>
                    About Us
                </a>
            </li>
                    </ul>
                </li>
            </ul>
        </div>
     </aside>
    <section class="u-align-center u-clearfix u-image u-shading u-section-1" data-image-src="" data-image-width="1280" data-image-height="842" id="sec-d2ff">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h1 class="u-align-center u-text u-text-black u-text-default u-title u-text-1"> Énergie so​la​ire</h1>
        </div>
    </section>
    
    </section>
    <section class="u-clearfix u-section-2" id="sec-f6e7">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-1"> Qu'est-ce que l'énergie solaire ?<br>
        </h2>
        <p class="u-align-center u-large-text u-text u-text-variant u-text-2"> L'énergie solaire est une source d'énergie qui dépend du soleil. Cette énergie permet de fabriquer de l'électricité à partir de panneaux photovoltaïques ou des centrales solaires thermiques, grâce à la lumière du soleil captée par des panneaux solaires.&nbsp;Il existe 4 types d'énergie solaire:&nbsp;</p>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-border-5 u-border-palette-4-base u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-1">
              <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-file-icon u-icon u-text-palette-5-dark-2 u-icon-1"></span>
                <h4 class="u-align-center u-text u-text-3"> l'énergie photovoltaïque</h4>
              </div>
            </div>
            <div class="u-align-center u-border-5 u-border-palette-4-base u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-2">
              <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-file-icon u-icon u-text-palette-5-dark-2 u-icon-2"></span>
                <h4 class="u-align-center u-text u-text-4"><b>l'énergie solaire thermodynamique</b>
                </h4>
              </div>
            </div>
            <div class="u-align-center u-border-5 u-border-palette-4-base u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-3">
              <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-file-icon u-icon u-text-palette-5-dark-2 u-icon-3"></span>
                <h4 class="u-align-center u-text u-text-5"><b>l'énergie thermique</b>
                </h4>
              </div>
            </div>
            <div class="u-align-center u-border-5 u-border-palette-4-base u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-4">
              <div class="u-container-layout u-similar-container u-container-layout-4"><span class="u-file-icon u-icon u-text-palette-5-dark-2 u-icon-4"></span>
                <h4 class="u-align-center u-text u-text-6"><b>l'énergie aérovoltaïque</b>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-grey-5 u-section-3" id="carousel_8728">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-border-20 u-border-palette-4-base u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-shape u-shape-rectangle u-shape-1"></div>
        <div class="data-layout-selected u-clearfix u-gutter-20 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-align-center u-container-style u-layout-cell u-size-30 u-white u-layout-cell-1">
                <div class="u-container-layout u-valign-top u-container-layout-1">
                  <h3 class="u-align-left u-text u-text-default u-text-1"> L'énergie solaire est la solution aux enjeux énergétiques grâce à ses innovations<span style="font-weight: 700;">
                      <span style="font-weight: 400;">
                        <span style="font-weight: 700;"></span>
                      </span>
                    </span>
                  </h3>
                  <p class="u-align-left u-text u-text-black u-text-2"> L'électricité solaire coûte actuellement environ 0,05 dollar/kWh, avec une prévision de réduction de 30 % dans cinq ans et de moitié dans dix ans. L'Agence internationale de l'énergie prévoit une installation cumulée de 5 TW de capacité photovoltaïque d'ici 2030, 10 TW d'ici 2040 et près de 15 TW d'ici 2050, représentant un tiers de la production mondiale d'électricité. Les systèmes solaires intègrent des batteries pour garantir un approvisionnement continu pendant la nuit, les jours nuageux et les urgences. La capacité totale peut être atteinte par de nombreux petits systèmes sur toits ou au sol, ou par quelques grandes installations, parfois en concurrence avec la production alimentaire.</p>
                </div>
              </div>
              <div class="u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="1280" data-image-height="853">
                <div class="u-container-layout u-container-layout-2"></div>
              </div>
              <p class="u-align-center u-text u-text-default u-text-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">Source:&nbsp;​la tribune&nbsp;</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-right u-clearfix u-image u-section-4" id="carousel_729f" data-image-width="1280" data-image-height="706">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-left u-border-10 u-border-no-bottom u-border-no-right u-border-no-top u-border-palette-4-base u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-1">
              <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-file-icon u-icon u-text-palette-5-dark-2 u-icon-1">
              </span>
                <p class="u-text u-text-black u-text-1"> <b>-</b> Noor Ouarzazate I : La première phase de la centrale solaire Noor, appelée Noor Ouarzazate I, a été inaugurée en 2016. Elle a une capacité de production d'environ 160 mégawatts (MW) et utilise la technologie des miroirs paraboliques pour concentrer la lumière solaire et produire de la vapeur, qui alimente ensuite une turbine pour générer de l'électricité.</p>
              </div>
            </div>
            <div class="u-align-left u-border-10 u-border-no-bottom u-border-no-right u-border-no-top u-border-palette-4-base u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-2">
              <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-file-icon u-icon u-text-palette-5-dark-2 u-icon-2"></span>
                <p class="u-text u-text-black u-text-2"><b>-</b> Noor Ouarzazate II et III : Les phases suivantes, Noor Ouarzazate II et III, ont été développées et mises en service progressivement. Ces phases utilisent la technologie des panneaux solaires photovoltaïques et ont une capacité de production d'environ 200 MW chacune.</p>
              </div>
            </div>
            <div class="u-align-left u-border-10 u-border-no-bottom u-border-no-right u-border-no-top u-border-palette-4-base u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-3">
              <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-file-icon u-icon u-text-palette-5-dark-2 u-icon-3"></span>
                <p class="u-text u-text-black u-text-3"><b>-</b> Noor Midelt : Le projet Noor Midelt est une extension du complexe Noor. Il s'agit d'un projet hybride combinant les technologies solaires photovoltaïques et solaires thermiques, avec une capacité totale de production prévue d'environ 800 MW.</p>
              </div>
            </div>
          </div>
        </div>
        <h3 class="u-align-left u-text u-text-black u-text-4"><b>Projets Phares dans le Secteur de l'Én​ergie Solaire
au Maroc</b>
        </h3>
      </div>
    </section>
    <section class="u-clearfix u-palette-4-base u-section-5" id="carousel_e077">
      <div class="u-expanded-width u-grey-5 u-shape u-shape-rectangle u-shape-1"></div>
      <div class="data-layout-selected u-clearfix u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="1004" data-image-height="871">
              <div class="u-container-layout u-container-layout-1"></div>
            </div>
            <div class="u-align-center u-container-style u-layout-cell u-size-30 u-white u-layout-cell-2">
              <div class="u-container-layout u-container-layout-2">
                <h2 class="u-text u-text-default u-text-1">
                  <span style="font-size: 1.875rem;"></span><b>Vision Stratégique et Défis Associés</b>
                </h2>
                <p class="u-align-left u-text u-text-2"> La vision stratégique du Maroc dans le
secteur de l'énergie solaire vise à exploiter pleinement le potentiel solaire
tout en réduisant la dépendance aux énergies fossiles. Les défis liés à la
vari<span style="font-size: 1.1875rem;"></span>abilité de l'ensoleillement et à l'intégration au réseau électrique sont
atténués grâce à des avancées technologiques, à la recherche et à une
planification efficace. Cette approche renforce la position du Maroc en tant
que leader de l'énergie solaire en Afrique.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    
           

      <!-- Footer section starts here -->
   <footer id="Footer">
    <div class="container text-center">
      <div class="footer-text ">
        <p>Abonnez-vous gratuitement à notre newsletter et recevez chaque semaine nos articles par email :          <br class="hidden-lg-down" /></p>
        <div class="email-box">
          <form action="{% url 'subscribe' %}" method="post">
            <input required type="email" name="mail">
            <label for="email">Email</label>
            <input class="submit" type="submit" value="">
          </form>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="copy-right">
              <p>© EnergiTrack Maroc, Inc.</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-right">
            <div class="social-share">
              <ul>
                <li>
                  <a href="https://web.facebook.com/people/EnergiTrack-Maroc/61555676254294/?is_tour_dismissed=true"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/energytrackmaroc?igsh=MW1yMDJtY2hlYWs0aA=="><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/company/101523811/admin/feed/posts/?feedType=following"><i class="fab fa-linkedin-in"></i></a>
                </li>
                <li>
                  <a href="mailto:energytrackmorocco@gmail.com"><i class="fab fa-google"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    </footer>
    <!-- Footer section ends here -->
  
</body></html>